@import url("https://fonts.cdnfonts.com/css/oak-sans");

html,
body {
  font-family: "Oak Sans", sans-serif;
}

img {
  object-fit: cover;
}

.product-carousel-img {
  height: 50vh;
}

.home-carousel-img {
  height: 22rem;
}

.message-box {
  max-width: 75%;
  width: fit-content;
}

.comment-box {
  height: 100%;
  max-height: 200px;
  overflow-y: auto;
}

.min-vh-50 {
  min-height: 50vh;
}

.min-vh-75 {
  min-height: 75vh;
}

.product-img {
  height: 250px !important;
}

.square-img {
  height: 95px !important;
}

.chatbox {
  height: 60vh;
  overflow-y: auto;
}

.contacts {
  max-height: 65vh;
  overflow-y: auto;
}

.nav-tabs > .nav-item > .nav-link {
  min-width: 10rem;
}

.carousel-control-prev,
.carousel-control-next {
  transition: background-color 2s;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.dropdown-menu a {
  text-decoration: none;
  color: var(--bs-secondary-color) !important;
}

.dropdown-menu a .d-flex {
  transition: all 0.5s;
}

.dropdown-menu .col-sm-6 a:hover .d-flex {
  background-color: var(--bs-secondary-bg-subtle);
}

@media only screen and (min-width: 992px) {
  .dropdown-large {
    width: 50vw;
  }

  .dropdown:hover .dropdown-menu {
    display: flex;
  }

  .dropdown-large.show {
    display: flex;
  }

  .product-carousel-img {
    height: 90vh;
  }
}

.lightbox {
  /* Default to hidden */
  display: none;

  /* Overlay entire screen */
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  /* A bit of padding around image */
  padding: 1em;

  /* Translucent background */
  background: rgba(0, 0, 0, 0.8);
}

/* Unhide the lightbox when it's the target */
.lightbox:target {
  display: block;
}

.lightbox span {
  /* Full width and height */
  display: block;
  width: 100%;
  height: 100%;

  /* Size and position background image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.ribbon-box {
  width: 100%;
  float: left;
  height: auto;
  position: relative;
}

.ribbon {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}

.ribbon span {
  font-size: 10px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  line-height: 20px;
  transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79a70a;
  background: linear-gradient(#9bc90d 0%, #79a70a 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  right: -21px;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.6);
}

.ribbon span::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #79a70a;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79a70a;
}

.ribbon span::after {
  content: "";
  position: absolute;
  right: 0%;
  top: 100%;
  z-index: -1;
  border-right: 3px solid #79a70a;
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79a70a;
}

.red span {
  background: linear-gradient(#f70505 0%, #8f0808 100%);
}

.red span::before {
  border-left-color: #8f0808;
  border-top-color: #8f0808;
}

.red span::after {
  border-right-color: #8f0808;
  border-top-color: #8f0808;
}

.search-field {
  width: 10rem;
  transition: width 0.3s;
}

.search-field:focus {
  width: 20rem;
}
