{% extends 'layouts/base.html' %} {% load static %} {% block content %}
<section class="hero-1 vh-60 d-flex align-items-center">
  <div class="container">
    <h1>Burundian National Identity Application</h1>
    <p>Smart Id, Smart Idea, Smart People.</p>
  </div>
</section>
<section class="bg-success vh-40 d-flex align-items-center">
  <div class="container">
    <div class="row text-white">
      <div class="col-md-6">
        <p class="fw-bold">
          <img
            src="{% static 'img/seal.jpg' %}"
            loading="lazy"
            height="50"
            width="50"
          />
          BNIA.
        </p>
        <h4>Burundian National Identity Application</h4>
        <p>Smart Id, Smart Idea, Smart People.</p>
      </div>
      <div class="col-md-3">
        <h4 class="text-uppercase">Quick links</h4>
        <ul>
          <li><a class="text-decoration-none text-white" href="#">Home</a></li>
          <li><a class="text-decoration-none text-white" href="#">About</a></li>
          <li>
            <a class="text-decoration-none text-white" href="#">Services</a>
          </li>
          <li>
            <a class="text-decoration-none text-white" href="#">Publications</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h4 class="text-uppercase">Contact us</h4>
        <ul>
          <li>
            <a class="text-decoration-none text-white" href="#">
              203 Fake St. Gitega , Bujumbura, Burundi
            </a>
          </li>
          <li>
            <a class="text-decoration-none text-white" href="#">
              +250 788 428 033
            </a>
          </li>
          <li>
            <a class="text-decoration-none text-white" href="#">
              info@bnia.com
            </a>
          </li>
        </ul>
      </div>
      <div class="col-12 text-center mt-3">
        Copyright &copy; 2024 Burundian National Identity Application
      </div>
    </div>
  </div>
</section>
{% endblock %}
