{% extends 'layouts/dashboard.html' %} {% load static %} {% block content %}
<h3>Dashboard</h3>
<div>
  <p>
    Applying for national identity card is a time consuming to the citizen to go
    to the commune office for applying, it can take long and also the security
    is not sure because data are not shared some citizen can make fraud and have
    national identity cards that contains wrong information, citizen can even
    possess two different national identity cards.
  </p>
  <p>
    With this current system the commune administration keeps citizen's
    information on papers, or may record them in excel document means there is
    no security. Because of this problem for not having a centralized database
    causes the increase of scammers that lies using their false documents
    applied by giving wrong information, as it is done manually checking is not
    easy. This project aims to develop a national identification management
    system that helps to manage requests from citizen looking identification
    easily.
  </p>
</div>
{% endblock %}
