{% extends 'layouts/dashboard.html' %} {% load static %} {% block content %}
<div class="row">
  <div class="col-md-3 col-sm-6">
    <div class="card card-body shadow-sm">
      <h1>{{ citizen_count }}</h1>
      <a href="{% url 'citizen' %}" class="btn btn-sm btn-outline-primary">
        <i class="bi bi-box me-1"></i> Citizens
      </a>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="card card-body shadow-sm">
      <h1>{{ applicant_count }}</h1>
      <a href="{% url 'applicant' %}" class="btn btn-sm btn-outline-primary">
        <i class="bi bi-box me-1"></i> Card Applicants
      </a>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="card card-body shadow-sm">
      <h1>{{ lost_count }}</h1>
      <a href="{% url 'lost-cards' %}" class="btn btn-sm btn-outline-primary">
        <i class="bi bi-box me-1"></i> Lost Cards
      </a>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="card card-body shadow-sm">
      <h1>{{ service_count }}</h1>
      <a href="{% url 'services' %}" class="btn btn-sm btn-outline-primary">
        <i class="bi bi-box me-1"></i> Services
      </a>
    </div>
  </div>
  <div class="col-md-8 text-center my-4">
    <h4>Regional Card Application</h4>
    <canvas id="region-chart"></canvas>
  </div>
  <div class="col-md-4 text-center my-4">
    <h4>Processed Cards</h4>
    <canvas id="process-chart"></canvas>
  </div>
</div>
{% endblock %} {% block scripts %}
<script src="{% static 'vendor/chartjs/chart.min.js' %}"></script>
<script>
  const backgroundColor = [
    "rgba(255, 99, 132, 0.2)",
    "rgba(54, 162, 235, 0.2)",
    "rgba(255, 206, 86, 0.2)",
    "rgba(75, 192, 192, 0.2)",
    "rgba(153, 102, 255, 0.2)",
    "rgba(255, 159, 64, 0.2)",
  ];
  const borderColor = [
    "rgba(255, 99, 132, 1)",
    "rgba(54, 162, 235, 1)",
    "rgba(255, 206, 86, 1)",
    "rgba(75, 192, 192, 1)",
    "rgba(153, 102, 255, 1)",
    "rgba(255, 159, 64, 1)",
  ];

  const regionChart = document.getElementById("region-chart").getContext("2d");
  const processChart = document
    .getElementById("process-chart")
    .getContext("2d");

  let regionLabels = [];
  let regionData = [];

  processLabels = ['issued card', 'applied card', 'lost card']
  processData = [{{citizen_count}}, {{applicant_count}}, {{lost_count}}]

  {% for region in regions %}
  regionLabels.push('{{region.province__name}}')
  regionData.push({{region.count}})
  {% endfor %}

  new Chart(processChart, {
    type: "doughnut",
    options: { scales: { y: { beginAtZero: true } } },
    data: {
      labels: processLabels,
      datasets: [
        {
          label: "Regional Card Application",
          data: processData,
          backgroundColor,
          borderColor,
          borderWidth: 1,
        },
      ],
    },
  });

  new Chart(regionChart, {
    type: "bar",
    options: { scales: { y: { beginAtZero: true } } },
    data: {
      labels: regionLabels,
      datasets: [
        {
          label: "Processed Cards",
          data: regionData,
          backgroundColor,
          borderColor,
          borderWidth: 1,
        },
      ],
    },
  });
</script>
{% endblock %}
