{% extends 'layouts/dashboard.html' %} {% load static %} {% block content %}
<h4>All Messages</h4>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item">
      <a href="{% url 'dashboard' %}">Dashboard</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{% url 'message' %}">Message</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">All Messages</li>
  </ol>
</nav>
{% include 'partials/messages.html' %}
<table class="table table-bordered table-hover mt-3">
  <thead class="table-dark">
    <tr>
      <th scope="col">Product Image</th>
      <th scope="col">Type</th>
      <th scope="col">Quantity</th>
      <th scope="col">Description</th>
      <th scope="col">Time</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for row in page_object %}
    <tr>
      <td>
        {% if row.product.image %}
        <img src="/media/{{row.product.image}}" width="50" />
        {% else %}
        <img src="/static/img/placeholder.png" width="50" />
        {% endif %}
      </td>
      <td>{{row.activity_type}}</td>
      <td>{{row.quantity}}</td>
      <td>{{row.description|truncatechars:20|default:''|safe}}</td>
      <td>{{row.created_at|date:"M d, Y"}}</td>
      <td>
        <div class="btn-group">
          <a
            href="#"
            class="btn btn-sm btn-success"
            data-bs-toggle="tooltip"
            title="Details"
          >
            <i class="bi bi-eye"></i>
          </a>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<nav aria-label="pagination">
  <ul class="pagination justify-content-center">
    {% if page_object.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_object.previous_page_number }}">
        <i class="bi bi-chevron-left"></i>
      </a>
    </li>
    {% endif %}
    <li class="page-item">
      <a class="page-link" href="#">
        {{ page_object.number }} / {{ page_object.paginator.num_pages }}
      </a>
    </li>
    {% if page_object.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_object.next_page_number }}">
        <i class="bi bi-chevron-right"></i>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endblock %} {% block scripts %}
<style>
  html,
  body {
    background: whitesmoke !important;
  }
</style>
<script>
  function deleteActivity(url = "") {
    if (confirm("You are about to delete this activity")) window.location = url;
  }
</script>
{% endblock %}
